<?xml version="1.0" encoding="utf-8"?>
<manifest package="grupo07.pdm115.eisi.fia.ues.com.sv.proyecto1"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/MainActivity"/>
        <activity
            android:name=".Controladores.CoordinadorActivity"
            android:label="@string/Tabla_Coordinador"/>
        <activity
            android:name=".Controladores.EstudianteActivity"
            android:label="@string/Tabla_Estudiante"/>
        <activity android:name=".Controladores.TipoDeActividadActivity"/>
        <activity android:name=".Controladores.Estudiante.AgregarEstudiante">
        </activity>
        <activity android:name=".Controladores.Estudiante.EliminarEstudiante">
        </activity>
        <activity android:name=".Controladores.Estudiante.SeleccionarEstudiante">
        </activity>
        <activity android:name=".Controladores.Estudiante.ActualizarEstudiante">
        </activity>
    </application>

</manifest>
